<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page-head-link">
    <title>纺织服装知识图谱</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
    <!-- font-awesome icons CSS -->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet">
    <!-- //font-awesome icons CSS -->

    <!-- side nav css file -->
    <link th:href="@{/css/SidebarNav.min.css}"  media='all' rel='stylesheet' type='text/css'/>
    <!-- side nav css file -->

    <!-- js-->
    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/js/modernizr.custom.js}"></script>

    <!--webfonts-->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//webfonts-->

    <!-- Metis Menu -->
    <script th:src="@{/js/metisMenu.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <link href="/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->

</head>
<body class="cbp-spmenu-push">
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">纺织服装知识图谱</a>
            </div>
            <div class="collapse navbar-collapse">
                <div class="profile_details_left"><!--notifications of menu start -->
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                            <a href="/index">首页</a>
                                <!--</button>-->
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">相关知识导航 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://10.199.157.176:8000">服装设计知识</a> </li>
                                <li><a href="http://10.199.157.176:5000">面辅料信息检索</a> </li>
                                <li><a href="http://10.199.157.176:8080">流行趋势速知</a> </li>
                                <li><a href="standards">工业4.0相关标准</a> </li>
                            </ul>
                        </li>
                    </ul>
                    <!--<div class="clearfix"> </div>-->
                    <!--&lt;!&ndash;notification menu end &ndash;&gt;-->
                    <!--<div class="clearfix"> </div>-->
                </div>
                <div class="header-left">


                    <!--search-box-->
                    <div class="row">
                        <form class="input" id="search_head" action="/search" method="post">
                            <div class="col-md-8">
                            <input class="sb-search-input input__field--madoka" placeholder="Search..." name="search_name" type="search" id="search_box2" />
                            <label class="input__label" for="search_box2">
                                <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                                    <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                                </svg>
                            </label>
                            </div>
                            <div class="col-md-4">
                            <!--<span class="input-group-btn" >-->
                                <button class="btn btn-default" type="submit" id = "bn1">搜索</button>
                            <!--</span>-->
                            </div>
                        </form>
                    </div><!--//end-search-box-->


                    <!--<div class="clearfix"> </div>-->
                <!--</div>-->
                <!--<div class="clearfix"> </div>-->
                </div>
            </div>
        </div>
    </nav>
    <!-- //header-ends -->
    <!-- //header-ends -->
    <!-- main content start-->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="jumbotron text-center" >
                <h1>纺织服装知识图谱</h1>
                </br>
                <div class="col-lg-6 " style="margin-left: 25%">
                    <form role="search" class="navbar-form" id="search" onsubmit="return checkForm1();"  action="/search" method="post">
                        <div class="input-group ">
                            <input type="text" class="form-control" placeholder="Search for..." name="search_name" id="search_box1">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" id = "bn">搜索</button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div><!-- /.col-lg-6 -->
            </div>
        </div>
    </div>

<!--<div style="margin-left: 30px;margin-top: -30px">-->
    <!--<img style="width: 24%" src="../static/images/index1.png"/>-->
    <!--<img style="width: 24%" src="../static/images/index2.png"/>-->
    <!--<img style="width: 24%" src="../static/images/index3.png"/>-->
    <!--<img style="width: 24%" src="../static/images/index4.png"/>-->
<!--</div>-->
    <div class="row">
        <div class="col-md-3 text-center" >
            <h3 >流行趋势版块</h3>
            <!--<img style="width: 100%" src="../static/images/index1.png"/>-->
            <div class="btn-group " role="group" aria-label="...">
                <!--<button type="button" class="btn btn-default">色彩</button>-->
                <!--<button type="button" class="btn btn-default">风格</button>-->
                <!--<button type="button" class="btn btn-default">细节</button>-->
                <!--<button type="button" class="btn btn-default">廓形</button>-->
                <!--<button type="button" class="btn btn-default">面料</button>-->
                <ul class="sidebar-menu" >
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>流行趋势</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="http://10.199.157.176:8080/concept.html?name=流行趋势">概念层</a></li>
                            <li><a href="http://10.199.157.176:8080/color.html?name=色彩">色彩</a></li>
                            <li><a href="http://10.199.157.176:8080/style.html?name=风格">风格</a></li>
                            <li><a href="http://10.199.157.176:8080/detail.html?name=细节">细节</a></li>
                            <li><a href="http://10.199.157.176:8080/silhouette.html?name=廓形">廓形</a></li>
                            <li><a href="http://10.199.157.176:8080/fabric.html?name=面料">面料</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <h3>面辅料知识版块</h3>
            <!--<img style="width: 100%" src="../static/images/index2.png"/>-->
            <ul class="sidebar-menu" >
                <li class="treeview">
                    <a href="http://10.199.157.176:5000/?id=656">
                        <i class="fa fa-laptop"></i>
                        <span>面料</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="http://10.199.157.176:5000/?id=658"><i class="fa fa-angle-right"></i> 毛</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=659"><i class="fa fa-angle-right"></i> 丝</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=209"><i class="fa fa-angle-right"></i> 棉</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=661"><i class="fa fa-angle-right"></i> 麻</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=662"><i class="fa fa-angle-right"></i> 仿麻</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=660"><i class="fa fa-angle-right"></i> 仿丝</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=370"><i class="fa fa-angle-right"></i> 针织物</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=944"><i class="fa fa-angle-right"></i> 坯布</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=743"><i class="fa fa-angle-right"></i> 混纺、交织物</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=376"><i class="fa fa-angle-right"></i> 化纤织物</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=519"><i class="fa fa-angle-right"></i> 色织、提花、印花布</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=210"><i class="fa fa-angle-right"></i> 新型纺织材料</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="http://10.199.157.176:5000/?id=657">
                        <i class="fa fa-laptop"></i>
                        <span>辅料</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="http://10.199.157.176:5000/?id=212"><i class="fa fa-angle-right"></i> 花边</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=211"><i class="fa fa-angle-right"></i> 纽扣</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=216"><i class="fa fa-angle-right"></i> 衬布、垫</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=213"><i class="fa fa-angle-right"></i> 带、绳、线</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=214"><i class="fa fa-angle-right"></i> 洗唛、商标、挂牌</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=215"><i class="fa fa-angle-right"></i> 拉链、拉头</a></li>
                        <li><a href="http://10.199.157.176:5000/?id=217"><i class="fa fa-angle-right"></i> 其他辅料</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-3 text-center">
            <h3>服装设计知识版块</h3>
            <!--<img style="width: 100%" src="../static/images/index3.png"/>-->
            <div class="btn-group " role="group" aria-label="...">
                <!--<button type="button" class="btn btn-default">色彩</button>-->
                <!--<button type="button" class="btn btn-default">风格</button>-->
                <!--<button type="button" class="btn btn-default">细节</button>-->
                <!--<button type="button" class="btn btn-default">廓形</button>-->
                <!--<button type="button" class="btn btn-default">面料</button>-->
                <ul class="sidebar-menu" >
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>服装款式设计</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="http://10.199.157.176:8000/index/search/action/?search=服装造型设计">服装造型设计</a></li>
                            <li><a href="http://10.199.157.176:8000/index/search/action/?search=服装色彩设计">服装色彩设计</a></li>
                            <li><a href="http://10.199.157.176:8000/index/search/action/?search=服装面料设计">服装面料设计</a></li>
                            <li><a href="http://10.199.157.176:8000/index/search/action/?search=服装整体风格">服装整体风格</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>服装工艺设计</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>服装制版设计</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <h3>智能制造版块</h3>
            <!--<img style="width: 100%" src="../static/images/index4.png"/>-->
            <ul class="sidebar-menu" >
                <li class="treeview">
                    <a href="/search?search_name=相关技术">
                        <i class="fa fa-laptop"></i>
                        <span>相关技术</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/search?search_name=人工智能"><i class="fa fa-angle-right"></i> 人工智能</a></li>
                        <li><a href="/search?search_name=CPS嵌入式系统"><i class="fa fa-angle-right"></i> CPS嵌入式系统</a></li>
                        <li><a href="/search?search_name=信息安全"><i class="fa fa-angle-right"></i> 信息安全</a></li>
                        <li><a href="/search?search_name=云计算"><i class="fa fa-angle-right"></i> 云计算</a></li>
                        <li><a href="/search?search_name=网络技术"><i class="fa fa-angle-right"></i> 网络技术</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="/search?search_name=工业4.0">
                        <i class="fa fa-laptop"></i>
                        <span>工业4.0</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/search?search_name=相关标准"><i class="fa fa-angle-right"></i> 相关标准</a></li>
                        <li><a href="/search?search_name=参考体系"><i class="fa fa-angle-right"></i> 参考体系</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="/search?search_name=智慧工厂">
                        <i class="fa fa-laptop"></i>
                        <span>智慧工厂</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/search?search_name=智能仓储">智能仓储</a></li>
                        <li><a href="/search?search_name=智能车间">智能车间</a></li>
                        <li><a href="/search?search_name=智能品质管理">智能品质管理</a></li>
                        <li><a href="/search?search_name=集成ERP系统">集成ERP系统</a></li>
                        <li><a href="/search?search_name=集成MES系统">集成MES系统</a></li>
                        <li><a href="/search?search_name=追溯管理">追溯管理</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="/search?search_name=智能生产">
                        <i class="fa fa-laptop"></i>
                        <span>智能生产</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/search?search_name=石油石化智能成套设备">石油石化智能成套设备</a></li>
                        <li><a href="/search?search_name=冶金智能成套设备">冶金智能成套设备</a></li>
                        <li><a href="/search?search_name=智能化成形和加工成套设备">智能化成形和加工成套设备</a></li>
                        <li><a href="/search?search_name=自动化物流成套设备">自动化物流成套设备</a></li>
                        <li><a href="/search?search_name=建材制造成套设备">建材制造成套设备</a></li>
                        <li><a href="/search?search_name=智能化食品制造生产线">智能化食品制造生产线</a></li>
                        <li><a href="/search?search_name=智能化纺织成套装备">智能化纺织成套装备</a></li>
                        <li><a href="/search?search_name=智能化印刷装备">智能化印刷装备</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
<style type="text/css">
    body{font-size:14px;font-family:arial,verdana,sans-serif;line-height:1.666;padding:0;margin:0;overflow:auto;white-space:normal;word-wrap:break-word;min-height:100px}
    td, input, button, select, body{font-family:Helvetica, 'Microsoft Yahei', verdana}
    pre {white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;width:95%}
    th,td{font-family:arial,verdana,sans-serif;line-height:1.666}
    img{ border:0}
    header,footer,section,aside,article,nav,hgroup,figure,figcaption{display:block}
</style>

    </div>
    <script>
        function checkForm1() {
            var search_name = $("input[id='search_box1']").val();
            if(search_name=="" || search_name==null || search_name == undefined){
                 alert("搜索框不能为空");
                return false;
            }
            else
                return true;

        }
        function chechForm2() {
            var search_name = $("input[id='search_box2']").val();
            if(search_name=="" || search_name==null || search_name == undefined){
                alert("搜索框不能为空");
                return false;
            }
            else
                return true;

        }
        // $("#bn").click(function () {
        //     var searchUrl = encodeURI("/ssss");
        //     location.href = searchUrl;
        //
        // })
    </script>
<!-- side nav js -->
<script th:src="@{/js/SidebarNav.min.js}" type='text/javascript'></script>
<script>
    $('.sidebar-menu').SidebarNav()
</script>
<!-- //side nav js -->

<!-- Classie --><!-- for toggle left push menu script -->
<script th:src="@{/js/classie.js}"></script>
<script>
    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        body = document.body;

    showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
    };

    function disableOther( button ) {
        if( button !== 'showLeftPush' ) {
            classie.toggle( showLeftPush, 'disabled' );
        }
    }
</script>
<!-- //Classie --><!-- //for toggle left push menu script -->

<!--scrolling js-->
<script th:src="@{/js/jquery.nicescroll.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<!--//scrolling js-->

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.js}"> </script>

</body>
</html>